<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head th:replace="fragments :: page_head('List User')">
</head>
<body>
	<div class="container-fluid">
		<!-- navigation -->
		<div th:replace="navigation :: nav"></div>

		<div class="text-center text-info">
			<p class="fs-1">Manage Users</p>
		</div>
		<div class="alert alert-primary" th:if="${message != null}"
			role="alert">
			<strong>[[${message}]]</strong>
		</div>

		<div class="m-2 ms-0">
			<a th:href="@{/user/new}" class="" title="Add new user"> <i
				class="fa-sharp fa-solid fa-user-plus fa-2x fa-gray"></i>
			</a>
		</div>
		<div class="d-flex justify-content-start">
			<!-- export Csv -->
			<a th:href="@{/user/export/csv}" title="Export to CSV"
				class="m-3 ms-0"> <i
				class="fa-sharp fa-solid fa-file-csv fa-2x fa-gray"></i>
			</a> <a th:href="@{/user/export/excel}" title="Export to Excel"
				class="m-3 ms-0"> <i
				class="fa-sharp fa-solid fa-file-excel fa-2x fa-gray"></i>
			</a> <a th:href="@{/user/export/pdf}" title="Export to Excel"
				class="m-3 ms-0"> <i
				class="fa-sharp fa-solid fa-file-pdf fa-2x fa-gray"></i>
			</a>
		</div>

		<!-- search-->
		<div class="row ">
			<div class="col-6 d-flex justify-content-start ">
				<form
					th:action="@{'/user/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
					class="form-inline ">
					<input type="hidden" name="sortField" th:value="${sortField}" /> <input
						type="hidden" name="sortDir" th:value="${sortDir}" /> <input
						class="form-control m-3 ms-0" th:value="${keyWord}" name="keyWord"
						type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success m-3 ms-0" type="submit">
						<i class="fa-sharp fa-solid fa-magnifying-glass "></i>
					</button>
					<a th:href="@{/user/listUser} "
						class="btn btn-outline-success m-3 "> <i
						class="fa-solid fa-reply-all"></i>
					</a>

				</form>
			</div>


		</div>
		<div class="full-details">
			<table
				class="table table-active table-striped table-inverse
		table-hover table-responsive mt-4 ">
				<thead class="thead-inverse ">
					<tr>
						<th th:replace="fragments :: column_link('id', 'ID')"></th>
						<th>Photo</th>
						<th th:replace="fragments :: column_link('email', 'Email')"></th>
						<th
							th:replace="fragments :: column_link('firstName', 'First Name')"></th>
						<th th:replace="fragments :: column_link('lastName', 'Last Name')"></th>
						<th th:replace="fragments :: column_link('enable', 'Enable')"></th>
						<th>Roles</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" user: ${users}">
						<td scope="row" th:text="${user.id}"></td>
						<td><span th:if="${user.photo == null}"> <img
								th:src="@{/images/default_person.jpg}" alt="user photo"
								width="100" height="100" />
						</span> <span th:if="${user.photo != null}"> <img
								th:src="@{${user.getUserPhotoPath}}" alt="user photo"
								width="100" height="100" />
						</span></td>
						<td th:text="${user.email}"></td>
						<td th:text="${user.firstName}"></td>
						<td th:text="${user.lastName}"></td>
						<td><a th:href="@{'/user/updateEnabled/' + ${user.id}}"
							title="Enable Status"> <i th:if="${user.enable} == true"
								class="fa-solid fa-circle-check"></i> <i
								th:if="${user.enable} == false"
								class="fa-solid fa-circle fa-gray"></i>
						</a></td>
						<td th:text="${user.roles}"></td>
						<td><a th:href="@{'/user/delete/' + ${user.id}}"
							class="me-5 link-delete del" th:email="${user.email}"
							title="Delete"> <i class="fa-solid fa-trash fa-red"></i>
						</a> <a th:href="@{'/user/update/' + ${user.id}}" id="update"
							title="Update" class="me-2"> <i
								class="fa-solid fa-pen-to-square fa-red "></i>
						</a></td>
					</tr>

				</tbody>
			</table>
		</div>
		<div class="less-details">
			<div th:each=" user: ${users}" class="row">
				<div class="col-4">
					<div class="m-2 ms-0">
						<span th:if="${user.photo == null}"> <img
							th:src="@{/images/default_person.jpg}" alt="user photo"
							width="100" height="100" />
						</span> <span th:if="${user.photo != null}"> <img
							th:src="@{${user.getUserPhotoPath}}" alt="user photo" width="100"
							height="100" />
						</span>
					</div>
				</div>
				<div class="col-8">
					<div class="m-2">
						<div th:text="${user.getFullName}"></div>

						<div th:text="${user.roles}" class=""></div>
						<div class="mt-2">
							<a th:href="@{'/user/updateEnabled/' + ${user.id}}"
								title="Enable Status"> <i th:if="${user.enable} == true"
								class="fa-solid fa-circle-check"></i> <i
								th:if="${user.enable} == false"
								class="fa-solid fa-circle fa-gray"></i>
							</a> &nbsp; <a th:href="@{'/user/delete/' + ${user.id}}"
								class=" link-delete del" th:email="${user.email}" title="Delete">
								<i class="fa-solid fa-trash fa-red"></i>
							</a> &nbsp; <a th:href="@{'/user/update/' + ${user.id}}" id="update"
								title="Update" class=""> <i
								class="fa-solid fa-pen-to-square fa-red "></i>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal -->
		<div class="modal" id="ModalDialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal-title">Warning</h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal-body"></div>
					<div class="modal-footer">
						<a class="btn btn-secondary" id="deleteOption" href="">Delete</a>
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>
		<!-- Count User per page -->
		<div class="text-center " th:if="${totalElement > 1}">
			<span th:if="${usersPerPage > 1 }"> <span
				th:if="${usersCurrentPerPage == usersPerPage }"> Users:
					[[${currentPage * usersPerPage - usersPerPage + 1}]] to
					[[${currentPage * usersPerPage}]] of [[${totalElement}]] </span> <span
				th:if="${usersCurrentPerPage < usersPerPage }"> <span
					th:if="${usersCurrentPerPage > 1 }"> Users: [[${totalElement
						- usersCurrentPerPage -1 }]] to [[${totalElement}]] of
						[[${totalElement}]] </span> <span th:if="${usersCurrentPerPage == 1 }">
						Users: [[${totalElement}]] of [[${totalElement}]] </span>

			</span>

			</span> <span th:if="${usersPerPage == 1}"> Users: [[${currentPage *
				usersPerPage}]] of [[${totalElement}]] </span>
		</div>

		<!-- Pagination -->
		<div class="">
			<nav aria-label="Page navigation example"
				th:if="${totalPage < 11 && totalElement > 1} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/1?sortField=' + ${sortField}+
					   '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">First</a></li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${currentPage - 1} + '?sortField=' + ${sortField}+
					   '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Previous</a></li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${currentPage + 1} + '?sortField=' + ${sortField}+
					  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Next</a></li>

					<th:block th:each=" i: ${#numbers.sequence(1, totalPage)}">
						<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}"><a
							class="page-link" th:text="${i}"
							th:href="@{'/user/page/' + ${i} + '?sortField=' + ${sortField}+
						  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"></a></li>

					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${totalPage} + '?sortField=' + ${sortField}+
					  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Last</a></li>
				</ul>
			</nav>
		</div>
		<!-- Pagination2 -->
		<div class="">
			<nav aria-label="Page navigation example" th:if="${totalPage > 11} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/1?sortField=' + ${sortField}+
					   '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">First</a></li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${currentPage - 1} + '?sortField=' + ${sortField}+
					   '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Previous</a></li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${currentPage + 1} + '?sortField=' + ${sortField}+
					  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Next</a></li>

					<th:block
						th:if="${currentPage < 6 || currentPage > totalPage - 5 }">
						<span th:each=" i: ${#numbers.sequence(1, 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}"><a
								class="page-link" th:text="${i}"
								th:href="@{'/user/page/' + ${i} + '?sortField=' + ${sortField}+
							'&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"></a></li>

						</span>
						<li
							th:class="${currentPage == 6 ? 'page-item active' : 'page-item'}"><a
							class="page-link"
							th:href="@{'/user/page/6' + '?sortField=' + ${sortField}+
							'&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">...</a></li>

						<span th:each=" i: ${#numbers.sequence(totalPage-4, totalPage)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}"><a
								class="page-link" th:text="${i}"
								th:href="@{'/user/page/' + ${i} + '?sortField=' + ${sortField}+
							'&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"></a></li>

						</span>
					</th:block>

					<th:block th:if="${currentPage >5 && currentPage< totalPage - 4 }">
						<li
							th:class="${currentPage == currentPage -5 ? 'page-item active' : 'page-item'}"><a
							class="page-link"
							th:href="@{'/user/page/' +${currentPage - 5} + '?sortField=' + ${sortField}+
						  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">...</a></li>
						<span
							th:each=" i: ${#numbers.sequence(currentPage, currentPage + 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}"><a
								class="page-link" th:text="${i}"
								th:href="@{'/user/page/' + ${i} + '?sortField=' + ${sortField}+
							'&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}"></a></li>

						</span>
						<li
							th:class="${currentPage == currentPage + 6 ? 'page-item active' : 'page-item'}"><a
							class="page-link"
							th:href="@{${currentPage + 6 > totalPage ? '/user/page/'+totalPage : '/user/page/'+ (currentPage + 6)} + '?sortField=' + ${sortField}+
						'&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">...</a></li>

					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}"><a
						class="page-link"
						th:href="@{'/user/page/' + ${totalPage} + '?sortField=' + ${sortField}+
					  '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">Last</a></li>
				</ul>
			</nav>
		</div>

	</div>
	<!-- footer -->
		<div th:replace="fragments :: footer"></div>
		<script th:src="@{/js/common_form.js}"></script>
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>
</html>