<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
<title>[[${title}]]</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.0-beta1 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!--Fontawesome -->
<script src="https://kit.fontawesome.com/d6c67536ea.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<th th:fragment="column_link(fieldName, colTitle)"><span
		th:if="${sortField == fieldName}"> <a
			style="text-decoration: none" class="text-reset"
			th:href="@{${moduleURL} + '/page/' + ${pageNum} +
							'?sortField=' + ${sortField}+ '&sortDir=' +
							 ${reserveDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}
							 +${categoryID != null ? '&categoryID=' + categoryID : ''}}">
				[[${colTitle}]]</a> <i class="fa-sharp fa-solid fa-caret-up"
			th:if="${sortDir == 'asc'}"></i> <i
			class="fa-sharp fa-solid fa-caret-down" th:if="${sortDir == 'des'}"></i>
	</span> <span th:if="${sortField != fieldName}"> <a
			style="text-decoration: none" class="text-reset"
			th:href="@{${moduleURL} + '/page/' + ${pageNum} +
							'?sortField=' + ${fieldName} + '&sortDir=' + ${reserveDir} +
							 ${keyWord != null ? '&keyWord=' + keyWord : ''}
							 +${categoryID != null ? '&categoryID=' + categoryID : ''}}">
				[[${colTitle}]]</a>
	</span></th>

	<div th:fragment="status_enable(id, enableField)">
		<a th:href="@{${moduleURL} +'/updateEnabled/' + ${id}}"
			title="Enable Status"> <i th:if="${enableField == true}"
			class="fa-solid fa-circle-check"></i> <i th:if="${enableField == false}"
			class="fa-solid fa-circle fa-gray"></i>
		</a>
	</div>

	<div th:fragment="update(id)">
		<a th:href="@{${moduleURL} +'/update/' + ${id}}" id="update"
			title="Update"> <i class="fa-solid fa-pen-to-square fa-red"></i>
		</a>
	</div>

	<a th:fragment="page_link(pageNum, label)" class="page-link"
		th:href="@{${moduleURL} + '/page/' +${pageNum} +'?sortField=' + ${sortField}+
					   '&sortDir=' + ${sortDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''} 
					   +${categoryID != null ? '&categoryID=' + categoryID : ''}}">[[${label}]]</a>

	<!-- search-->
	<div th:fragment="search(nameModule)">
		<div class="row">
			<div class="col-6 d-flex justify-content-start ">
				<form
					th:action="@{${moduleURL} +'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
					class="form-inline ">
					<input type="hidden" name="sortField" th:value="${sortField}" /> <input
						type="hidden" name="sortDir" th:value="${sortDir}" /> <input
						class="form-control m-3 ms-0" th:value="${keyWord}" name="keyWord"
						type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success m-3 ms-0" type="submit">
						<i class="fa-sharp fa-solid fa-magnifying-glass "></i>
					</button>
					<a th:href="@{${moduleURL} + '/list' + ${nameModule}}"
						class="btn btn-outline-success m-3 "> <i
						class="fa-sharp fa-solid fa-eraser"></i>
					</a>

				</form>
			</div>
		</div>

	</div>

	<!-- pagination------------- -->
	<!-- Pagination1 -->
	<div th:fragment="pagination()">
		<div class="">
			<nav aria-label="Page navigation example"
				th:if="${totalPage < 11 && totalElement > 1} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(1, 'First')"></a>
					</li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a
						th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
					</li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
					</li>

					<th:block th:each=" i: ${#numbers.sequence(1, totalPage)}">
						<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>

					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${totalPage}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- Pagination2 -->
		<div class="">
			<nav aria-label="Page navigation example" th:if="${totalPage > 11} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(1, 'First')"></a>
					</li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a
						th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
					</li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
					</li>

					<th:block
						th:if="${currentPage < 6 || currentPage > totalPage - 5 }">
						<span th:each=" i: ${#numbers.sequence(1, 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
						<li
							th:class="${currentPage == 6 ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(6, '...')"></a>
						</li>

						<span th:each=" i: ${#numbers.sequence(totalPage-4, totalPage)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
					</th:block>

					<th:block th:if="${currentPage >5 && currentPage< totalPage - 4 }">
						<li
							th:class="${currentPage == currentPage -5 ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(${currentPage - 5}, '...')"></a>
						</li>
						<span
							th:each=" i: ${#numbers.sequence(currentPage, currentPage + 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
						<li
							th:class="${currentPage == currentPage + 6 ? 'page-item active' : 'page-item'}">
							<th:block th:if="${currentPage + 6 >= totalPage}">
								<a th:replace="fragments :: page_link(${totalPage}, ${totalPage})"></a>
							</th:block>
							
							<th:block th:if="${currentPage + 6 < totalPage}">
								<a th:replace="fragments :: page_link(${currentPage +6}, '...')"></a>
							</th:block>
						</li>
					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${totalPage}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>

	<!-- Count element per page -->
	<div th:fragment="countElement(nameModule)">
		<div class="text-center " th:if="${totalElement > 1}">
			<span th:if="${elementsPerPage > 1 }"> <span
				th:if="${elementsCurrentPerPage == elementsPerPage }">
					[[${nameModule}]]: [[${currentPage * elementsPerPage - elementsPerPage +
					1}]] to [[${currentPage * elementsPerPage}]] of [[${totalElement}]]
			</span> <span th:if="${elementsCurrentPerPage < elementsPerPage }"> <span
					th:if="${elementsCurrentPerPage > 1 }"> <span
						th:if="${totalElement != elementsCurrentPerPage}">
							[[${nameModule}]]: [[${totalElement - elementsCurrentPerPage + 1 }]]
							to [[${totalElement}]] of [[${totalElement}]] </span> <span
						th:if="${totalElement == elementsCurrentPerPage}">
							[[${nameModule}]]: 1 to [[${totalElement}]] of [[${totalElement}]] </span>
				</span> <span th:if="${elementsCurrentPerPage == 1 }"> [[${nameModule}]]:
						[[${totalElement}]] of [[${totalElement}]] </span>
			</span>

			</span> <span th:if="${elementsPerPage == 1}"> [[${nameModule}]]:
				[[${currentPage * elementsPerPage}]] of [[${totalElement}]] </span>
		</div>
		<div class="text-center" th:if="${totalElement == 0}">
			No [[${nameModule}]] found!
		</div>
	</div>


	<!-- footer -->
	<div th:fragment="footer">
		<hr />
		<p class="text-center">Happy Shop - Copyright &copy; Happy Ltd.</p>
	</div>
</body>
</html>