<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<nav th:fragment="nav"
		class="navbar navbar-expand-lg navbar-dark bg-dark">
		<form th:action="@{/logout}" method="post" th:hidden="true"
			name="logoutForm">
			<input type="submit" />
		</form>
		<a class="navbar-brand" th:href="@{/}"> <img
			th:src="@{/images/happyshop.png}" height="80" width="120" />
		</a>
		<button class="navbar-toggler " type="button"
			data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
			aria-controls="collapsibleNavId" aria-expanded="true"
			aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="collapsibleNavId">
			<ul class="navbar-nav me-auto mt-2 mt-lg-0">
			
				<th:block sec:authorize="hasAuthority('Admin')">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" th:href="@{/user/listUser}" > Users </a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" th:href="@{/user/new}">Create
								New</a></li>
						<li><a class="dropdown-item" th:href="@{/user/listUser}">
								View All</a></li>
					</ul>
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin','Editor')">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" th:href="@{/category/listCategory}"> Categories </a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" th:href="@{/category/new}">Create
								New</a></li>
						<li><a class="dropdown-item" th:href="@{/category/listCategory}">
								View All</a></li>
					</ul>
				</li>
				
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" th:href="@{/brand/listBrand}" > Brands </a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" th:href="@{/brand/new}">Create
								New</a></li>
						<li><a class="dropdown-item" th:href="@{/brand/listBrand}">
								View All</a></li>
					</ul>
				</li>
				</th:block>
				
				<th:block sec:authorize="hasAnyAuthority('Admin','Salesperson','Editor','Shipper')">
				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" th:href="@{/product/listProduct}"> Products </a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" 
							sec:authorize="hasAnyAuthority('Admin', 'Editor')"
							th:href="@{/product/new}">Create
								New</a></li>
						<li><a class="dropdown-item" th:href="@{/product/listProduct}">
								View All</a></li>
					</ul>
				</li>
				</th:block>
				
				<li class="nav-item"
					sec:authorize="hasAnyAuthority('Admin','Salesperson')"><a
					class="nav-link" th:href="@{/customer/listCustomer}">Customers</a></li>
				<li class="nav-item"
					sec:authorize="hasAnyAuthority('Admin','Salesperson')"><a
					class="nav-link" th:href="@{/shippingRate/listShippingRate}">Shipping</a></li>
				<li class="nav-item"
					sec:authorize="hasAnyAuthority('Admin','Salesperson')"><a
					class="nav-link" href="#">Sale Report</a></li>
				<li class="nav-item"
					sec:authorize="hasAnyAuthority('Admin','Salesperson')"><a
					class="nav-link" href="#">Orders</a></li>
				<li class="nav-item"
					sec:authorize="hasAnyAuthority('Admin', 'Editor')"><a
					class="nav-link" href="#">Articles</a></li>
				<li class="nav-item dropdown" 
					sec:authorize="hasAuthority('Admin')">
					<a
					class="nav-link dropdown-toggle" th:href="@{/setting}">Setting</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item" 
							th:href="@{/setting#general}">General
								</a></li>
						<li><a class="dropdown-item" 
							th:href="@{/setting#countries}">Countries
								</a></li>
						<li><a class="dropdown-item" 
							th:href="@{/setting#states}">States
								</a></li>
						<li><a class="dropdown-item" 
							th:href="@{/setting#mail_server}">Mail Server
								</a></li>	
						<li><a class="dropdown-item" 
							th:href="@{/setting#mail_templates}">Mail Templates
								</a></li>
					</ul>
				</li>

				<li class="nav-item dropdown"><a
					class="nav-link dropdown-toggle" data-bs-toggle="dropdown"
					aria-expanded="true"> <i class="fa-solid fa-user fa-gray "></i>
						<span sec:authentication="principal.fullname"> </span>
				</a>
					<ul class="dropdown-menu dropdown-menu-dark">
						<li><a class="dropdown-item"
							th:href="@{/account/information}">Profile</a></li>
						<li><a class="dropdown-item" id="logoutLink" href="#">
								Log out</a></li>
						<li><a class="dropdown-item"
							th:href="@{/account/changePasswordForm}">Change Password</a></li>
					</ul></li>

			</ul>
		</div>
	</nav>
</body>
</html>