<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(${titlePage}, 'tag')"></head>
	<link rel="stylesheet" th:href="@{/richtext/richtext.min.css}">
	<script type="text/javascript"
		th:src="@{/richtext/jquery.richtext.min.js}"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- navigation -->
		<div th:replace="navigation :: nav"></div>
		
		
		<div class="text-center text-info">
			<p class="fs-1">
				Manage Products | <span class="fs-2" th:if="${update == null}">Create New Product</span>
				<span class="fs-2" th:if="${update != null}" th:text="${update}"></span>
			</p>
		</div>
		
		<div>
			<p th:if="${message != null}" class="text-center">[[${message}]]</p>
		</div>
		
		<form th:action="@{/product/saveOrUpdate}" 
			onsubmit="return IsNameUnique(this);"  
			enctype="multipart/form-data"
			method="post" name="save_form" th:object="${product}">
			<input type="hidden" th:field="*{id}" id="id"/>
			<input type="hidden" th:if="${product.category != null}" th:value="${product.category.id}" id="categoryId"/>
			<div>
				<ul class="nav nav-tabs" id="myTab" role="tablist">
					<li class="nav-item" role="presentation">
						<button class="nav-link active" data-bs-toggle="tab"
							data-bs-target="#overview" type="button" 
							aria-controls="overview" aria-selected="true">Overview</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-bs-toggle="tab"
							data-bs-target="#description" type="button"
							aria-controls="description" aria-selected="false">Description</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-bs-toggle="tab"
							data-bs-target="#images" type="button"
							aria-controls="images" aria-selected="false">Images</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-bs-toggle="tab"
							data-bs-target="#details" type="button"
							aria-controls="details" aria-selected="false">Details</button>
					</li>
					<li class="nav-item" role="presentation">
						<button class="nav-link" data-bs-toggle="tab"
							data-bs-target="#shipping" type="button"
							aria-controls="shipping" aria-selected="false">Shipping</button>
					</li>

				</ul>

				<div class="tab-content" id="myTabContent">
				
					<div class="tab-pane fade show active" id="overview">
						<div th:replace="product/product_overview :: overview"></div>
					</div>
					
					<div class="tab-pane fade" id="description">
						<th:block th:if="${readOnlyForSalesperson}">
							 <div th:replace="product/product_description_readonly :: content"></div> 
						</th:block>
						
						<th:block th:unless="${readOnlyForSalesperson}">
							<div th:replace="product/product_description :: description"></div>
						</th:block>
					</div>

					<div class="tab-pane fade" id="images">
						<th:block th:if="${readOnlyForSalesperson}">
							 <div th:replace="product/product_images_readonly :: content"></div> 
						</th:block>
						
						<th:block th:unless="${readOnlyForSalesperson}">
							 <div th:replace="product/product_images :: images"></div> 
						</th:block>
					</div>

					<div class="tab-pane fade" id="details">
						<th:block th:if="${readOnlyForSalesperson}">
							 <div th:replace="product/product_details_readonly :: content"></div> 
						</th:block>
						
						<th:block th:unless="${readOnlyForSalesperson}">
							<div th:replace="product/product_details :: details"></div>
							<div class="p-3">
								<button type="button" onclick="addNextDivDetail()"
									class="btn btn-secondary">Add More Details</button>
							</div>
						</th:block>
					</div>

					<div class="tab-pane fade" id="shipping">
						<th:block th:if="${readOnlyForSalesperson}">
							 <div th:replace="product/product_shipping_readonly :: content"></div> 
						</th:block>
						
						<th:block th:unless="${readOnlyForSalesperson}">
							 <div th:replace="product/product_shipping :: shipping"></div> 
						</th:block>
					</div>
					
				</div>
			</div>


			<div class="text-center m-3">
				<button type="submit" class="btn btn-primary me-3">Save</button>
				<a th:href="@{/product/listProduct}"
					class="btn btn-primary">Cancel</a>
			</div>
		</form>

	</div>
	
	<!-- modal -->
	<div th:replace="modal_fragments :: modal"></div>
	
	<!-- footer -->
	<script>	
		moduleURL = "[[@{/products}]]";
		brandModuleURL = "[[@{/brands}]]";
		MAX_FILE_SIZE = 3145728;//3MB
		defaultImageThumbnailSrc  = "[[@{/images/default-thumbnail.jpg}]]";
		
	</script>
	
	
	<div th:replace="fragments :: footer"></div>
	<script th:src="@{/js/common_form.js}"></script>
	<script th:src="@{/js/form_product_overview.js}"></script>
	<script th:src="@{/js/form_product_images.js}"></script>
	<script th:src="@{/js/form_product_details.js}"></script>
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>

</html>