<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
	<div th:fragment="content">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">#</th>
					<th scope="col">Name</th>
					<th scope="col">Value</th>
				</tr>
			</thead>
			<tbody class="table-group-divider">
				<tr th:each="detail, status : ${product.details}">
					<th scope="row" th:text="${status.index + 1}"></th>
					<td th:text="${detail.name}"></td>
					<td th:text="${detail.value}"></td>
				</tr>
			</tbody>
		</table>
	</div>

</body>
</html>