<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head(${titlePage},'none')">
</head>
<body>

	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="breadcrumb :: content"></div>

		<div class="row">

			<div class="col-sm">
				<div class="m-2">
					<img th:src="@{${product.getProductMainImagePath}}" th:index="${0}"
						class="img-fluid" id="mainImage" />
				</div>
				<div class="d-flex justify-content-center">
					<div class="m-2 border p-1">
						<img th:src="@{${product.getProductMainImagePath}}"
							th:index="${0}" class="image-thumbnail" height="50px" />
					</div>
					<th:block th:each="extraImage, status : ${product.images}">
						<div class="m-2 border p-1">
							<img class="image-thumbnail" th:index="${status.count}"
								th:src="@{${extraImage.getPathExtraImageProduct}}" height="50px" />
						</div>
					</th:block>
				</div>
			</div>

			<div class="col-sm product_details">
				<div>
					<h4 class="fw-bold">[[${product.name}]]</h4>
				</div>

				<div style="font-size: 20px;">
					<p><b>Brand:</b> [[${product.brand.name}]]</p>
				</div>

				<div class="product_rating d-flex justify-content-start"
					th:productId="${product.id}">
					<input type="hidden" th:value="${product.average_rating}"
						th:id="avr_rating +  ${product.id}" /> <input type="hidden"
						th:value="${product.review_count}"
						th:id="review_count +  ${product.id}" /> 
					<div th:id="star_rating +${product.id}"></div>
										
					<a href="#questionsAndAnswers" class="ms-2">[[${totalQuestions}]] questions</a>
					
				</div>

				<div class="d-flex flex-row" style="font-size: 20px;">
					<b class="me-2">Price: </b>
					<span th:replace="product/product_fragment :: showProductPrice"></span>
					<p class="ms-2" th:if="${product.discountPercent > 0}">
						([[${product.discountPercent}]]% off)</p>
				</div>
				

				<div>
					<p th:utext="${product.shortDescription}"></p>
				</div>

				<div class="">
					<div>
						<h5>
							Status:<span th:if="${product.inStock}" class="text-success">
								In Stock</span> <span th:unless="${product.inStock}"
								class="text-danger"> Out Of Stock</span>
						</h5>
					</div>

					<th:block th:if="${product.inStock}">
						<div class="mt-3"
							th:replace="cart/quantity_control :: content(1,${product.quantity},${product.id})">
						</div>

						<div class="mt-3 d-flex flex-row">
							<div>
								<input type="button" th:addToCartId="'a' + ${product.id}" class="btn btn-primary addToCart"
									value="Add To Cart" />
							</div>

							<div class="toast ms-3" id="addToCartToast" role="alert"
								aria-live="assertive" aria-atomic="true" >
								<div class="toast-body text-success">
									<b> The items added to your cart. </b>
									<div class="mt-2 pt-2 border-top">
										<a th:href="@{/cart}" class="btn btn-primary ">Go to cart</a>
										<button type="button" class="btn btn-secondary "
											data-bs-dismiss="toast">Close</button>
									</div>
								</div>
							</div>
						</div>
					</th:block>
					
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div>
					<hr />
				</div>
			</div>
			<div class="col-12">
				<h3>Product Descriptions</h3>
			</div>
			<div class="col-12">
				<p th:utext="${product.fullDescription}"></p>
			</div>
		</div>

		<div class="row">
			<div class="col-12">
				<div>
					<hr />
				</div>
			</div>
			<div class="col-12">
				<h3>Product Details</h3>
			</div>
			<div class="col-12">
				<th:block th:each="detail : ${product.details}">
					<p>
						<b>[[${detail.name}]]: </b> <span>[[${detail.value}]]</span>
					</p>
				</th:block>
			</div>
		</div>
		
		<div class="row">
			<div class="col-12">
				<div>
					<hr />
				</div>
			</div>
			<div class="col-12" id="customer_reviews_div">
				<h3>Customer Reviews</h3>
			</div>
			<div class="col-12">
				<div th:id="customer_reviews + ${product.id}">  
				</div>				
				<a href="" id="viewAllReviewsBtn" th:if="${product.review_count} != 0"><small>View all reviews</small></a>				
			</div>
		</div>
		
		<div th:if="${customerHadReviewed}">
			<a th:href="@{'/review/page/1?sortField=reviewTime&sortDir=des&keyWord=id' + ${reviewId}}" 
				class="text-info">View my review</a>
		</div>
		<div th:if="${productNeedReview}">
			<p>You had bought this product.<a th:href="@{'/review/write_review/' + ${product.id}}"
				 class="text-info">Go to write review now </a> </p>
		</div>
				
		<div class="mt-3 p-2" th:if="${not #lists.isEmpty(recentReviews)}" >
			<h5>Most recent reviews</h5>
			<th:block th:each="review : ${recentReviews}">
				<div class="row mt-5">
					<div class="d-flex justify-content-start">
						<div th:id="review_star_by_customer + ${review.id}" th:reviewId="${review.id}" 
							class="customer_review me-5" th:rating="${review.rating}"></div>
						<div class="d-flex justify-content-start align-items-start">
							<a href="#" class="btn_like_review" th:reviewId=${review.id} 
								 likeStatus="0">
								<i class="fa-sharp fa-regular fa-thumbs-up me-2"
									 th:id="like_icon_review + ${review.id}" ></i>
							</a>
							<p th:id="like_text_review + ${review.id}">
								Helpful (<span th:id="like_count_review + ${review.id}">[[${review.likes}]]</span>)</p>
						</div>
					</div>
					<h6><strong>[[${review.headline}]]</strong></h6>
					<p>[[${review.comment}]]</p>
					<div class="d-flex justify-content-start">
						<small>[[${review.customer.FullName}]]</small>
						<small class="ms-3" th:text="${#dates.format(review.reviewTime, 'yyyy-MM-dd')}"> </small>
					</div>
				</div>	
			</th:block>		
		</div>
		
		<div class="row" >		
			<div class="mt-3 col-sm-6 p-2">
				<hr />
				<h3 id="questionsAndAnswers">Questions & Answers</h3>
				<div id="question_form" class="border border-secondary rounded  p-3">    
					<form >
						<div class="form-floating mb-2">
							<textarea class="form-control" placeholder="Leave a comment here"
								id="question_input_text" maxlength="300" required
								style="height: 100px"></textarea>
							<label for="question_input_text">Leave Comments Or
								Questions Here</label>
						</div>
						<div class="row question_inputField" style="display: none"
							th:unless="${customerAuthentication}">
							<div class="col-sm mb-2">
								<div class="form-floating">
									<input type="text" class="form-control" id="fullName"
										name="fullName" placeholder="Full Name" maxlength="30"
										required> <label for="fullName">Full Name* </label>
								</div>
							</div>
							<div class="col-sm mb-2">
								<div class="form-floating">
									<input type="tel" class="form-control" id="phoneNumber"
										name="phoneNumber" placeholder="Phone Number"> <label
										for="phoneNumber">Phone Number </label>
								</div>
							</div>
						</div>
						<div class="row question_inputField"
							th:unless="${customerAuthentication}" style="display: none">
							<div class="col-sm">
								<div class="form-floating">
									<input type="email" class="form-control" id="email"
										name="email" placeholder="email"> <label for="email">Email
									</label>
								</div>
							</div>
							<div class="col-sm d-grid ">
								<button class="btn btn-primary " type="submit">Send</button>
							</div>
						</div>
						<div class="d-flex justify-content-end" th:if="${customerAuthentication}">
							<button class="btn btn-primary " type="submit">Send</button>
						</div>
					</form>
				</div>
	
				<a href="#" class="mt-3" id="viewAllQuestionsBtn" >View all questions </a>
				<div class="mt-3 p-2">
					<div id="new_quesion_div"></div>
					<div th:if="${not #lists.isEmpty(recentQuestions)}">
						<h5>Most recent questions</h5>
						<th:block th:each="question : ${recentQuestions}">
							
							<div class="mt-5 question_div"
								 th:questionId = ${question.id}
								 th:question_likes = "${question.likes}">
								 <div th:id="question_personName + ${question.id}">
									<strong th:if="${question.customer != null}" th:id="test + ${question.id}">
										[[${question.customer.FullName}]]</strong>
									<strong th:unless="${question.customer != null}">[[${question.asker.fullName}]]</strong>						
								 </div>
								<p class="mt-2">[[${question.question_content}]]</p>
								<div class="d-flex justify-content-start align-items-center " style="font-size: 14px;">
									<a href="#" class="question_reply_btn" th:questionId="${question.id}">Reply</a>
									
									<a href="#" class="btn_like_question" th:questionId=${question.id}
										likeStatus="0"> <i
										class="fa-sharp fa-regular fa-thumbs-up me-2 ms-3"
										th:id="like_icon_question + ${question.id}"></i>
									</a>
									<small th:id="like_text_question + ${question.id}">
										Like (<span th:id="like_count_question + ${question.id}">[[${question.likes}]]</span>)
									</small>
									
									<small class="ms-3"
										th:text="${#dates.format(question.askTime, 'yyyy-MM-dd')}">
									</small>
								</div>
								<div class="ms-5  ps-3 border-start border-primary border-5" th:id="reply_div + ${question.id}">
															
								</div>
							</div>
							
						</th:block>
					
					</div>
	
				</div>
			</div>
		</div>

		<div class="modal" id="viewAllModal">
			<div class="modal-dialog modal-xl">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="modal-title"></h5>
						<button type="button" class="btn-close" data-bs-dismiss="modal"
							aria-label="Close"></button>
					</div>
					<div class="modal-body" id="modal-body">
						<div class="ratio ratio-4x3">
							<iframe src="" allowfullscreen></iframe>
						</div>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-bs-dismiss="modal">Close</button>
					</div>
				</div>
			</div>
		</div>

		<div th:replace="product/image_carousel :: content"></div>
		<div th:replace="navigation :: footer_menu"></div>
		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script th:src="@{/js/product_rating.js}"></script>
	<script th:src="@{/js/product_rating_common.js}"></script>
	<script th:src="@{/js/product_detail.js}"></script>
		
	<script>
		contextPath = "[[@{/}]]";
		loginURL = "[[@{/login}]]";
		csrfHeaderName = "[[${_csrf.headerName}]]";
		csrfValue = "[[${_csrf.token}]]";	
		
		customerFullName = "[[${customer != null ? customer.FullName : null}]]";
		customerAuthentication = "[[${customerAuthentication}]]";
		
		
	</script>
	<script th:src="@{/js/cart_quantity_control.js}"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
		
</body>
</html>
