<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('HappyShop','none')"></head>
<body>

	<div th:fragment="content">
		<a th:href="@{'/p/' + ${product.alias}}" th:title="${product.name}">
			<img th:src="@{${product.getProductMainImagePath}}" width="150" class="img-fluid" /> <br />
			<b>[[${product.shortName}]]</b>
		</a> <br />
		<div class="product_rating" th:productId="${product.id}">
			<input type="hidden" th:value="${product.average_rating}" th:id="avr_rating +  ${product.id}" />
			<input type="hidden" th:value="${product.review_count}" th:id="review_count +  ${product.id}"/>
			<div th:id="star_rating +${product.id}"></div>			
		</div>
		
		
		<div th:replace="product/product_fragment :: showProductPrice">			
		</div>

	</div>

	<div th:fragment="productPriceForm(price)" >
		<span th:if="${CURRENCY_SYMBOL_POSITION} == 'Before price'" th:remove="tag">
			[[${CURRENCY_SYMBOL}]] 
		</span>
		[[${#numbers.formatDecimal(price,1,THOUSANDS_POINT_TYPE,
		 	DECIMAL_DIGITS, DECIMAL_POINT_TYPE)}]]
		<span th:if="${CURRENCY_SYMBOL_POSITION} == 'After price'" th:remove="tag">
				[[${CURRENCY_SYMBOL}]]
		</span>
	</div>

	<div th:fragment="showProductPrice()" th:remove="tag">
		<div th:if="${product.discountPercent <= 0 }">
			<span
				th:replace="product/product_fragment :: productPriceForm(${product.price})">
			</span>
		</div>

		<div th:if="${product.discountPercent > 0}" class="d-flex flex-row">
			<div style="color: darkred; ">
				<span
					th:replace="product/product_fragment :: productPriceForm(${product.getDiscountPrice})">
				</span>
			</div>
			<del class="ms-2">
				<span
					th:replace="product/product_fragment :: productPriceForm(${product.price})"
					th:remove="tag"> </span>
			</del>
		</div>
	</div>

</body>
</html>
