<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<head th:replace="fragments :: page_head(${titlePage}, 'tag')"></head>
	 <script src="https://cdn.tiny.cloud/1/ertzsca1soj7gvp7siyeqwl94wacj1wxgv8bsze48k510ja1/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
</head>
<body>
	<div class="container-fluid">
		<!-- navigation -->
		<div th:replace="navigation :: nav"></div>
		
		<h2 class="text-center">Manage Articles | <span>[[${titlePage}]]</span></h2>

		<form th:action="@{/article/save}" method="post" th:object="${article}" id="form">
		
			<div class="row mb-3" th:if="${listTopic != null}">
				<div class="col-sm-1">Topic:</div>
				<div class="col-sm-3">
					<select class="form-control" name="topicId">
						<th:block th:each="topic : ${listTopic}">
							<option th:value="${topic.id}">[[${topic.name}]]</option>
						</th:block>
					</select>
				</div>
			</div>

			<div class="row mb-3" th:if="${topicName != null}">
				<div class="col-sm-1">Topic:</div>
				<div class="col-sm-3">[[${topicName}]]</div>
				<input type="hidden" th:value="${topicId}" name="topicId"/>
			</div>

			<div class="row mb-3">
				<div class="col-sm-1">Title:</div>
				<div class="col-sm-6">
					<textarea class="form-control" th:field="*{title}"></textarea>
				</div>
			</div>

			<p class="mb-2">Content:</p>
			<textarea id="content" th:field="*{content}"></textarea>

			<div class="mb-3 mt-3 d-flex justify-content-start">
				<p class="me-5">Published:</p>

				<input type="checkbox" style="width: 17px; height: 17px;" th:field="*{published}"/>

			</div>

			<p class="mt-2">Author: [[${authorName}]]</p>
			<div class="text-center">
				<button type="submit" class="btn btn-primary">Save</button>
			</div>
		</form>




		<!-- footer -->
		<div th:replace="fragments :: footer"></div>
	</div>
	
	<script>
		$(document).ready(function() {	
			tinymce.init({
			      selector: '#content',
			      plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
			      toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
			      tinycomments_mode: 'embedded',
			      tinycomments_author: 'Author name',
			      mergetags_list: [
			        { value: 'First.Name', title: 'First Name' },
			        { value: 'Email', title: 'Email' },
			      ]
			    });
			
			$("#form").submit(function(e){
				var htmlString = $('#content').val();
				$(htmlString).find('img').each(function() {
					  	imgSrc = $(this).attr('src');
						imageName = imgSrc.substring(imgSrc.lastIndexOf('/') + 1);	
						imageDes = $(this).attr('alt');
					  htmlInput= `
					  	<input type="hidden" name="imageName" value= "${imageName}" />
					  	<input type="hidden" name="imageDes" value= "${imageDes}" />
					  `;
					  $('#form').append(htmlInput);
				});
				
				$(htmlString).find('iframe').each(function() {
					videoUrl = $(this).attr('src');
					htmlInput= `
					  	<input type="hidden" name="videoUrl" value= "${videoUrl}" />
					  `;
					  $('#form').append(htmlInput);
					
				});
		
			})
		
		});
	</script>
	
	
	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>

</body>
</html>