
	<div th:fragment = "content" class="container-fluid">
		
		<!-- search-->
		<form th:action="@{'/question/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
			class="form-inline m-2" id="questionSearchForm">
			<div class="row">
				<div class="col-sm-3">		
					<label for="questionStatus">Question Status: </label> 
					<select name="questionStatus" id=""
						class="form-control">
						<option value="NAp" th:selected="${'NAp' == questionStatus}">Not Approved</option>
						<option value="NAn" th:selected="${'NAn' == questionStatus}">Not Answered</option>
						<option value="NApANAn" th:selected="${'NApANAn' == questionStatus}">Not Approved And Not Answered</option>
						
					</select>
				</div>
				<div class="col-sm-3">
					<label for="keyWord">Filter: </label> <input
						class="form-control " th:value="${keyWord}"
						name="keyWord" type="search" placeholder="Search by question or askTime"
						aria-label="Search">
				</div>
				<div class="col-sm-3">
					<button class="btn btn-outline-success " type="submit">
						<i class="fa-sharp fa-solid fa-magnifying-glass "></i>
					</button>
					<a th:href="@{/question/listQuestion}"
						class="btn btn-outline-success m-3 "> <i
						class="fa-sharp fa-solid fa-eraser"></i>
					</a>
				</div>
			</div>
				<input type="hidden" name="sortField" th:value="${sortField}" /> <input
					type="hidden" name="sortDir" th:value="${sortDir}" />
		</form>	
		
		<div class="d-flex justify-content-start align-items-center" 
			th:if="${questionStatus ==  'NAp' && totalElement > 0}" id="questionSelectDiv">
			<p>Select All</p>
			<input type="checkbox" class="ms-3"/> 
			<button class="btn btn-primary ms-3" >Approve</button>
		</div>	

		<div class="full-details" th:if="${totalElement > 0}">
			<table
				class="table table-active table-striped table-inverse
				table-hover table-responsive mt-4 ">
				<thead class="thead-inverse ">
					<tr>
						<th th:if="${questionStatus ==  'NAp'}" ></th>
						<th th:replace="fragments :: column_link('id', 'ID')"></th>
						<th th:replace="fragments :: column_link('question_content', 'Question')"></th>
						<th th:replace="fragments :: column_link('customer', 'Asker')"></th>
						<th th:replace="fragments :: column_link('askTime', 'Ask Time')"></th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr th:each=" question: ${questions}">
						<td th:if="${questionStatus ==  'NAp'}">
							 <input type="checkbox" name="questionsSelectedId"
							 	th:value="${question.id}" class="questionCheckbox" />
					  	</td>
						<td scope="row" th:text="${question.id}"></td>
						<td>
							[[${question.question_content}]]
						</td>
						<td>
							<a th:href="@{'/customer/detail/' + ${question.customer.id}}"
									title="Detail customer" 
									th:if="${question.customer != null}" class="me-3 link-detail-customer">
									[[${question.customer.getFullName}]] 
							</a>
							<p th:if="${question.asker != null}">[[${question.asker.fullName}]]</p>
						</td>
						<td>	
							<div th:replace="fragments :: format_time(${question.askTime})"></div>						
						</td>
						<td>
							<div class="d-flex justify-content-center align-items-center">
								
								<a th:href="@{'/question/delete/' + ${question.id}} + '?questionStatus=' + ${questionStatus}"
									class="deleteQuestion me-5" th:questionId = "${question.id}"
									title="Delete"> <i class="fa-solid fa-trash fa-red"></i>
								</a>
								
								<button class="btn btn-primary approveBtn" th:if="${questionStatus ==  'NAp'}"
									th:questionId="${question.id}" title="approve ">Approve</button>															  
								<button class="btn btn-primary AnswerBtn" th:if="${questionStatus ==  'NAn' || questionStatus ==  'NApANAn' }" 
									title="answer ">Answer</button>															  
							</div>
							
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="less-details">
			<div th:each=" question: ${questions}" class="row">
				<div class="">
					<p>Id: [[${question.id}]]</p>
				</div>
				<div class="d-flex justify-content-start">
					<a th:href="@{'/question/detail/' + ${question.id}}"
						title="Detail question" class="ms-3 me-3 link-detail-question"> <i
						class="fa-sharp fa-solid fa-circle-info"></i>
					</a>
					
					<a th:href="@{'/question/delete/' + ${question.id}}"
						class="deleteQuestion me-3" th:questionId = "${question.id}"
						title="Delete"> <i class="fa-solid fa-trash fa-red"></i>
					</a>
				
					<div th:replace="fragments :: update(${question.id})">
					</div>
				</div>
				<hr />
			</div>
		</div>
		
		<div th:replace="fragments :: countElement('Question')"></div>
		<!-- pagination -->
		<div th:replace="fragments :: pagination()"></div>
		<!-- modal -->
		<div th:replace="modal_fragments :: confirmationModal"></div>
		
		<div th:replace="modal_fragments :: detailModal('detailModalCustomer')"></div>
		
	</div>

