
<div class="container-fluid ">
	<div class="row">
		<div class="col-3">
			<img th:src="@{${question.product.getProductMainImagePath}}" alt="image product" class="img-thumbnail"/>
		</div>
		<div class="col-5">
			[[${question.product.shortName}]]
		</div>
	</div>
	
	<div class="mt-3 row ms-5">		
		<strong th:if="${question.customer != null}">[[${question.customer.FullName}]]</strong>
		<strong th:if="${question.asker != null}">[[${question.asker.fullName}]]</strong>
		
		<p class="mt-2">[[${question.question_content}]]</p>
		
		<div style="font-size: 13px;">
			<div th:replace="fragments :: format_time(${question.askTime})"></div>
		</div>	
		
		<div class="row mt-3" id="answer_form">
			<div class="col-sm-8 p-3">
				<form th:action="@{/reply/save-answer}" method="post">
					<input type="hidden" th:value="${question.id}" name="questionId" />
					<input type="hidden" value="question" name="object" />
					<div class="form-floating mb-2">
						<textarea class="form-control" id="reply_input_text"
							name="reply_content" maxlength="300" required
							style="height: 90px">@[[${question.customer != null ? 
							question.customer.FullName : question.asker.fullName}]]:</textarea>
						<label for="reply_input_text">Write your answer</label>
					</div>
									
					<div class="d-flex justify-content-end">
						<button class="btn btn-primary " type="submit">Send</button>
					</div>
				</form>
			</div>
		
		</div>
							
		<div class="ps-5 p-4">
			<div class="border-start border-primary">
				<th:block th:each="reply : ${replies}">
					<div class="p-2 mt-3 border-bottom border-secondary">
						<strong th:if="${reply.customer != null}">[[${reply.customer.FullName}]]</strong>
						<div class="d-flex justify-content-start" th:if="${reply.admin != null}">
							<strong>[[${reply.admin.getFullName}]]</strong>
							<i style="font-size: 13px;" class="ms-2 fa-sharp fa-solid fa-circle-check d-flex align-items-center"></i>
							<span class="d-flex align-items-start ms-2" style="font-size: 13px;">admin</span>
						</div>
						<strong th:if="${reply.personReply != null}">[[${reply.personReply.fullName}]]</strong>
		
						<p class="mt-2">[[${reply.reply_content}]]</p>
		
						<div style="font-size: 13px;">
							<div th:replace="fragments :: format_time(${reply.replyTime})"></div>
						</div>
					</div>
				</th:block>
			</div>
		</div>	
	</div>
	
	<script>
		personName = "[[${question.customer != null ? question.customer.FullName : question.asker.fullName}]]";
		//prevent user delete tag at textarea
		$(document).ready(function(){
			tag = '@' + personName + ': ';
			lengthTag = tag.length;
			
			$("#reply_input_text").on('keydown', function(event) {
				cursorPosition  = $(this).prop("selectionStart");
				if (cursorPosition < lengthTag && event.key === 'Backspace') {
					event.preventDefault();
				}
			})
		
		});
		
	</script>
	
</div>
