<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="page_head(title)">
<title>[[${title}]]</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.0-beta1 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<!--Fontawesome -->
<script src="https://kit.fontawesome.com/d6c67536ea.js"
	crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/customIcon.css}">
<link rel="stylesheet" type="text/css" th:href="@{/css/mediaQuery.css}">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script type="text/javascript" th:src="@{/js/common.js}"></script>
</head>
<body>
	<th th:fragment="column_link(model, fieldName, colTitle)"><span
		th:if="${sortField == fieldName}"> <a
			style="text-decoration: none" class="text-reset"
			th:href="@{'/' + ${model} + '/page/' + ${pageNum} +
							'?sortField=' + ${sortField}+ '&sortDir=' +
							 ${reserveDir} + ${keyWord != null ? '&keyWord=' + keyWord : ''}}">
				[[${colTitle}]]</a> <i class="fa-sharp fa-solid fa-caret-up"
			th:if="${sortDir == 'asc'}"></i> <i
			class="fa-sharp fa-solid fa-caret-down" th:if="${sortDir == 'des'}"></i>
	</span> <span th:if="${sortField != fieldName}"> <a
			style="text-decoration: none" class="text-reset"
			th:href="@{'/' + ${model} + '/page/' + ${pageNum} +
							'?sortField=' + ${fieldName} + '&sortDir=' + ${reserveDir} +
							 ${keyWord != null ? '&keyWord=' + keyWord : ''}}">
				[[${colTitle}]]</a>
	</span></th>

	<div th:fragment="status_enable(model, id, isEnable)">
		<a th:href="@{'/' + ${model} +'/updateEnabled/' + ${id}}"
			title="Enable Status"> <i th:if="${isEnable == true}"
			class="fa-solid fa-circle-check"></i> <i th:if="${isEnable == false}"
			class="fa-solid fa-circle fa-gray"></i>
		</a>
	</div>

	<div th:fragment="update(model, id)">
		<a th:href="@{'/' +${model} +'/update/' + ${id}}" id="update"
			title="Update" > <i
			class="fa-solid fa-pen-to-square fa-red "></i>
		</a>
	</div>
	
	<!-- search-->
	<div  th:fragment="search(model,listModel)">
		<div class="row">
			<div class="col-6 d-flex justify-content-start ">
				<form
					th:action="@{'/' + ${model} +'/page/1?sortField=' + ${sortField} + '&sortDir=' + ${sortDir} }"
					class="form-inline ">
					<input type="hidden" name="sortField" th:value="${sortField}" /> <input
						type="hidden" name="sortDir" th:value="${sortDir}" /> <input
						class="form-control m-3 ms-0" th:value="${keyWord}" name="keyWord"
						type="search" placeholder="Search" aria-label="Search">
					<button class="btn btn-outline-success m-3 ms-0" type="submit">
						<i class="fa-sharp fa-solid fa-magnifying-glass "></i>
					</button>
					<a th:href="@{'/' + ${model} + '/' + ${listModel}} "
						class="btn btn-outline-success m-3 "> <i
						class="fa-solid fa-reply-all"></i>
					</a>

				</form>
			</div>
		</div>
	
	</div>
		

	<!-- footer -->
	<div th:fragment="footer" class="text-center m-3">Hải Sản Huyền
		Yêu số 3 Giải Phóng, Lộc Vượng, Nam Định</div>
</body>
</html>