<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head>
<title>Title</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS v5.2.0-beta1 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<script src="https://kit.fontawesome.com/d6c67536ea.js" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/customIcon.css}">
<!-- Jquery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</head>
<body>
	<div class="container-fluid">
	<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
		<input type="submit"/>
	</form>
	
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" th:href="@{/}"> <img
				th:src="@{/images/haisanhuyenyeu.png}" height="80" width="120" />
			</a>
			<button class="navbar-toggler " type="button"
				data-bs-toggle="collapse" data-bs-target="#collapsibleNavId"
				aria-controls="collapsibleNavId" aria-expanded="true"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="collapsibleNavId">
				<ul class="navbar-nav me-auto mt-2 mt-lg-0">
					<li class="nav-item"><a class="nav-link"
						th:href="@{/user/listUser}">User</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Categories</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Brands</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Products</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Customers</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Shipping</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Sale
							Report</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Orders</a></li>
					<li class="nav-item"><a class="nav-link" href="#">Articles</a>
					</li>
					<li class="nav-item"><a class="nav-link" href="#">Setting</a>
					</li>
								
					<li class="nav-item dropdown"><a
						class="nav-link dropdown-toggle" href="#" role="button"
						data-bs-toggle="dropdown" aria-expanded="false" > <i
							class="fa-solid fa-user fa-gray "></i> 
							<span sec:authentication="principal.fullname">							
							</span>
					</a>
						<ul class="dropdown-menu dropdown-menu-dark">
							<li><a class="dropdown-item" href="#">Profile</a></li>
							<li><a class="dropdown-item" id="logoutLink" href="#"> Log out</a></li>				
						</ul></li>
				</ul>
			</div>
		</nav>
		<div class="text-center">Hải Sản Huyền Yêu số 3 Giải Phóng, Lộc
			Vượng, Nam Định</div>
	</div>

<script type="text/javascript">
	$(document).ready(function(){
		$("#logoutLink").on("click", function(e){
			e.preventDefault();
			document.logoutForm.submit();
		});
	});
</script>


	<!-- Bootstrap JavaScript Libraries -->
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
		
</body>
</html>