<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:fragment="page_head(title, remove)" th:remove="${remove}">
<title>[[${title}]] - [[${SITE_NAME}]]</title>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS v5.2.0-beta1 -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
	integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
	crossorigin="anonymous">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>

<body>
	<div th:fragment="footer">
		<p class="text-center">[[${COPYRIGHT}]]</p>
	</div>
	
	
	<a th:fragment="page_link(pageNum, label)" class="page-link"
		th:href="@{${moduleURL} + '/page/' +${pageNum}+${keyword != null ? '?keyword=' + keyword : ''}}">[[${label}]]</a>
	
	
	<!-- pagination------------- -->
	<!-- Pagination1 -->
	<div th:fragment="pagination()">
		<div class="">
			<nav aria-label="Page navigation example"
				th:if="${totalPage < 11 && totalElement > 1} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(1, 'First')"></a>
					</li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a
						th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
					</li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
					</li>

					<th:block th:each=" i: ${#numbers.sequence(1, totalPage)}">
						<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>

					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${totalPage}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- Pagination2 -->
		<div class="">
			<nav aria-label="Page navigation example" th:if="${totalPage > 11} ">
				<ul class="pagination justify-content-center d-flex flex-wrap">
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(1, 'First')"></a>
					</li>
					<li
						th:class="${currentPage == 1 ? 'page-item disabled' : 'page-item'}">
						<a
						th:replace="fragments :: page_link(${currentPage - 1}, 'Previous')"></a>
					</li>
					<li
						th:class="${currentPage == totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${currentPage + 1}, 'Next')"></a>
					</li>

					<th:block
						th:if="${currentPage < 6 || currentPage > totalPage - 5 }">
						<span th:each=" i: ${#numbers.sequence(1, 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
						<li
							th:class="${currentPage == 6 ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(6, '...')"></a>
						</li>

						<span th:each=" i: ${#numbers.sequence(totalPage-4, totalPage)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
					</th:block>

					<th:block th:if="${currentPage >5 && currentPage< totalPage - 4 }">
						<li
							th:class="${currentPage == currentPage -5 ? 'page-item active' : 'page-item'}">
							<a th:replace="fragments :: page_link(${currentPage - 5}, '...')"></a>
						</li>
						<span
							th:each=" i: ${#numbers.sequence(currentPage, currentPage + 5)}">
							<li
							th:class="${currentPage == i ? 'page-item active' : 'page-item'}">
								<a th:replace="fragments :: page_link(${i}, ${i})"></a>
						</li>
						</span>
						<li
							th:class="${currentPage == currentPage + 6 ? 'page-item active' : 'page-item'}">
							<th:block th:if="${currentPage + 6 >= totalPage}">
								<a th:replace="fragments :: page_link(${totalPage}, ${totalPage})"></a>
							</th:block>
							
							<th:block th:if="${currentPage + 6 < totalPage}">
								<a th:replace="fragments :: page_link(${currentPage +6}, '...')"></a>
							</th:block>
						</li>
					</th:block>

					<li
						th:class="${currentPage== totalPage ? 'page-item disabled' : 'page-item'}">
						<a th:replace="fragments :: page_link(${totalPage}, 'Last')"></a>
					</li>
				</ul>
			</nav>
		</div>
	</div>
	
	<!-- Count element per page -->
	<div class="text-center " th:fragment="countElement(moduleName)">
		<div th:if="${totalElement == 0}">
			No [[${moduleName}]] found
		</div>
		<div th:if="${totalElement > 1}">
			<span th:if="${elementsPerPage > 1 }">
				<span
				th:if="${elementsCurrentPerPage == elementsPerPage }">
					[[${moduleName}]]: [[${currentPage * elementsPerPage - elementsPerPage +
					1}]] to [[${currentPage * elementsPerPage}]] of [[${totalElement}]]
				</span>
			<span th:if="${elementsCurrentPerPage < elementsPerPage }">
				<span
					th:if="${elementsCurrentPerPage > 1 }">
					<span
						th:if="${totalElement != elementsCurrentPerPage}">
							[[${moduleName}]]: [[${totalElement - elementsCurrentPerPage + 1 }]]
							to [[${totalElement}]] of [[${totalElement}]] 
					</span>
					<span
						th:if="${totalElement == elementsCurrentPerPage}">
							[[${moduleName}]]: 1 to [[${totalElement}]] of [[${totalElement}]]
					</span>
				</span>
				<span th:if="${elementsCurrentPerPage == 1 }"> [[${moduleName}]]:
						[[${totalElement}]] of [[${totalElement}]]
				</span>
			</span>

			</span> <span th:if="${elementsPerPage == 1}"> [[${moduleName}]]:
				[[${currentPage * elementsPerPage}]] of [[${totalElement}]] </span>
		</div>
	</div>
	
	<div th:fragment="search">
		<nav class="navbar navbar-expand-sm ">
			<form class=" d-flex d-flex-row" th:action="@{'/search'}"
				method="get">
				<div class="m-2">Search:</div>
				<input type="search" class="form-control m-2" name="keyword"
					th:value="${keyword}"
					required /><input type="submit" value="Search" class="btn btn-primary m-2" />
			</form>
		</nav>
	</div>

	<div th:fragment="modal" class="modal" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="modal-title"></h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body" id="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
