<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">

<head th:replace="fragments :: page_head('HappyShop','none')"></head>
<body>

	<div class="container-fluid">
		<div th:replace="navigation :: header_menu"></div>
		<div th:replace="navigation :: search_nav"></div>
		<h1>Shopping by Categories</h1>
		<div class="row">
			<div class="col" th:each="category : ${listCategory}">
				<a th:href="@{'/c/' + ${category.alias}}"> <img
					th:src="@{${category.getCategoryImagePath}}"
					th:alt="${category.alias}" width="150" /> <br /> <span>[[${category.name}]]</span>
				</a>
			</div>
		</div>


		<div th:replace="navigation :: footer_menu"></div>
		<div th:replace="fragments :: footer"></div>
	</div>

	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>
</html>
