<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments :: page_head('All Reviews','none')"></head>
<body>

	<div class="container-fluid">
		<input type="hidden" th:avr_rating = "${product.average_rating}" 
			th:productID = "${product.id}" 
			th:review_count = "${product.review_count}"
			id="hiddenInput"/>
		<div class="row">
			<div class="col-sm-3">
				<img th:src="@{${product.getProductMainImagePath}}" alt="product image review" 
					 style="width: 200px; height: 200px;"/>
			</div>
			<div class="col-sm-9">
				<h5><strong>[[${product.shortName}]]</strong></h5>
				<div th:id="customer_reviews + ${product.id}">
				</div>				
				<div class="mt-5 d-flex justify-content-start">
					<label for="selectViewReview" >Sort by:</label>
					<select class="form-control ms-3" id="selectViewReview" name = "selectViewReview" style="max-width: 200px;">
						<option value="likes" th:selected="${sortField == 'like'}">Total Likes</option>
						<option value="reviewTime " th:selected="${sortField == 'reviewTime'}">Review Time</option>
					</select>
				</div>
			</div>
		
		</div>
								
		<div>
			<th:block th:each="review : ${listReview}">
				<div class="col-6"><hr /></div>			
				<div class="">
					<div class="d-flex justify-content-start">
						<div th:id="review_star_by_customer + ${review.id}"
						 	th:reviewId="${review.id}" 
							class="customer_review" 
							th:rating="${review.rating}"></div>
						<div class="d-flex justify-content-start align-items-start ms-5">
							<a href="#" class="btn_like_review" th:reviewId=${review.id}
								likeStatus="0"> <i
								class="fa-sharp fa-regular fa-thumbs-up me-2"
								th:id="like_icon_review + ${review.id}"></i>
							</a>
							<p th:id="like_text_review + ${review.id}">
								Helpful (<span th:id="like_count_review + ${review.id}">[[${review.likes}]]</span>)
							</p>
						</div>
					</div>

					<h6><strong>[[${review.headline}]]</strong></h6>
					<p>[[${review.comment}]]</p>
					<small>[[${review.customer.FullName}]]</small>
					<small class="ms-3" th:text="${#dates.format(review.reviewTime, 'yyyy-MM-dd')}"> </small>
				</div>	
			</th:block>	
		</div>
		
	</div>
	<div th:replace="fragments :: countElement('Review')"></div> 
	<div th:replace="fragments :: pagination()"></div>
	
	<script th:src="@{/js/product_rating_common.js}"></script>
	<script th:src="@{/js/product_rating_in_all_reviews_page.js}"></script>
	<script th:src="@{/js/product_detail.js}"></script>
	<script>
		contextPath = "[[@{/}]]";
		loginURL = "[[@{/login}]]";
		csrfHeaderName = "[[${_csrf.headerName}]]";
		csrfValue = "[[${_csrf.token}]]";	
		
		pageNum = "[[${pageNum}]]";
		productId = "[[${product.id}]]";
		url = contextPath + "all_reviews/page/"+ pageNum + "?productId=" + productId + "&sortField=";
		
		$(document).ready(function() {
			
			$("#selectViewReview").change(function(){
				value = $(this).val();
				if(value == 'likes'){
					url += "likes";  
					location.replace(url);
				}
				else{
					url += "reviewTime";
					location.replace(url);
				}
			});
		
		});
	</script>
	
	<script
		src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
		integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
		crossorigin="anonymous"></script>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
		integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
		crossorigin="anonymous"></script>
</body>
</html>
